html, body{
  height: 100%;
}

body{
  background: #202123;
  text-align: center;
  color: white;
  font-family: roboto;
}

div.fox{
  overflow: visible;
  cursor: none;
}

svg {
  overflow: visible;
}